@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #000;
}
@font-face {
    font-weight: 700;
    font-family: 'Helvetica';
    src: url('../app/font/Helvetica-Bold.ttf');
  }

  @font-face {
    font-weight: 700;
    font-style: italic;
    font-family: 'Helvetica';
    src: url('../app/font/Helvetica-BoldOblique.ttf');
  }

  @font-face {
    font-weight: 400;
    font-family: Helvetica;
    src: url('../app/font/helvetica-light-587ebe5a59211.ttf');
  }

h1{
    font-family: 'Helvetica';
    color: #db2777;
}
.svg{
    color: red
}